@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

.cursor
{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;

}

.cursor2
{
    position: fixed;
    width: 0px;
    height: 0px;
    background-color: #777;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

header
{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo
{
    text-decoration: none;
    color: #000;
    font-size: 2em;
    font-weight: 200;
    padding: 5px 10px;

}

header ul
{
    list-style: none;
    display: flex;
}

header ul li a
{
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    cursor: pointer;
}

header ul li a:hover
{
    background: #000;
    color: #fff;
}

.toggle
{
    display: none;
}




section
{
    position: relative;
    padding: 100px;
}

section.home
{
    width: 100%;
    min-height: 100vh;
   
}
.home .home-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-content .home-text
{
    max-width: 600px;
}

.home .home-content .home-text h5
{
    font-size: 2em;
}



.home .home-content .home-text h1
{
    font-size: 6em;
    font-weight: 700;
}

.home .home-content .home-text h2
{
    font-size: 2.5em;
}

.home .home-content .home-text p
{
    margin-top: 10px;
    line-height: 25px;
}


.home .home-content .home-text .home-btn
{
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.home .home-content .home-text .home-btn1
{
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 5px;
}

.home .home-content .home-text .home-btn:hover
{
    color: white;
    background-color: grey;
    transition: 1s;
}

.home .home-content .home-text h1 span
{
    font-weight: 200;
}

.home .home-content .home-img
{
    max-width: 320px;
    height: 550px;
    position: relative;
}


.home .home-content .home-img img
{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}



/************************ABOUT SECTION************************************/

section.about

{
    width: 100%;
    min-height: 100vh;
}

.about .title
{
    width: 100%;
    text-align: center;
}

.about .title h2
{
    color: #000;
    font-size: 2em;
}


.about .about-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.about .about-content .about-text
{
    max-width: 600px;
    padding-left: 30px;
}

.about .about-content .about-text p
{
    line-height: 25px;
}

.about .title h2
{
    font-weight: 200;
    font-size: 3em;
}


.about .about-content .about-text h1
{
    margin-bottom: 20px;
    letter-spacing: 2px;
}



.about .about-content .about-text .sci ul
{
    display: flex;
    list-style: none;
}

.about .about-content .about-text .sci ul li a
{
    color: #555;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    font-size: 1.5em;
}

.about .about-content .about-text .sci ul li a .fa-whatsapp:hover
{
    color: rgb(5, 223, 5);
    transition: 1s;
}

.about .about-content .about-text .sci ul li a .fa-facebook:hover
{
    color: blue;
    transition: 1s;
}

.about .about-content .about-text .sci ul li a .fa-telegram:hover
{
    color: rgba(18, 170, 230, 0.849);
    transition: 1s;
}

.about .about-content .about-text .sci ul li a .fa-instagram:hover
{
    color: red;
    transition: 1s;
}

.about .about-content .about-text .sci ul li a .fa-github:hover
{
    color: black;
    transition: 1s;
}

.about .about-content .about-img
{
    max-width: 650px;
    height: 320px;
    margin-right: 20px;
}

.about .about-content .about-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

/************************END ABOUT SECTION*******************************/















/**************************SKILLS SECTION********************************/

section.skills
{
    width: 100%;
    min-height: 90vh;
}

.skills .title
{
    width: 100%;
    text-align: center;
}

.skills .title h2
{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 200;
}

.skills .title p
{
    margin-top: 20px;
}

.skills .skill-container
{
    
    width: 100%;
    display: flex;
    align-items: center;
}

.skills .skill-container .skill-bars
{
    width: 100%;
    position: relative;
}


.skills .skill-container .skill-bars .progress
{
    position: relative;
    width: 100%;
    height: 10px;
    border: 1px solid #555;
    padding: 10px 0;
}


.skills .skill-container .skill-bars h1
{
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 10px;
}





.skills .skill-container .skill-bars .progress .skill
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #555;
    color: #fff;
    text-align: center;
}

.skills .skill-container .skill-bars .progress .html
{
    width: 70%;
}


.skills .skill-container .skill-bars .progress .css
{
    width: 90%;
}


.skills .skill-container .skill-bars .progress .js
{
    width: 50%;
}


.skills .skill-container .skill-bars .progress .ps
{
    width: 85%;
}



/***********************END SKILLS SECTION*********************************************/


















/********************SERVICE SECTION*****************************************/

section.service
{
    width: 100%;
    min-height: 100vh;
}


.service .service-title
{
    width: 100%;
    text-align: center;
}
.service .service-title h2
{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 200;
}


.service .service-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto;
}


.service .service-container .card
{
    max-width: 260px;
    padding: 20px 20px;
    margin: 20px;
    box-shadow: 10px 10px 20px #000;
    background: #636e72;
    color: #fff;
    border-radius: 5px;
}

.service .service-container .card .card-img img
{
    max-width: 100px;
    margin: 0 25%;
}

.service .service-container .card .card-content
{
    text-align: center;
    margin-top: 20px;

}

.service .service-container .card .card-content h2
{
    font-weight: 200;
    font-size: 2em;
}

.service .service-container .card .card-content p
{
    margin-top: 20px;
}

.service .service-container .card .card-content .card-btn
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background: #dfe6e9;
    color: #000;
    text-decoration: none;
}
.service .service-container .card .card-content .card-btn:hover{
    background-color: grey;
    color: white;
    transition: 1s;
}

/********************************END SERVICE SECTION**********************************************/


/*******************WORK SECTION*************************************************/

section.work
{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.work .work-title
{
    text-align: center;

}


.work .work-title h2
{
    font-weight: 200;
    font-size: 3em;
    margin-bottom: 10px;
}

.work .work-container
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.work .work-container .work-box
{
    margin: 20px;
    width: 300px;
    height: 200px;
    position: relative;
   
} 


.work .work-container .work-box .img-box
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.work .work-container .work-box .img-box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
   
}



.work .work-container .work-box .img-box img:hover
{
    transform: scale(1.5);
    transition: 0.5s;
}



/******************END***WORK SECTION***********************************************/




/*********************CONTACT SECTION********************************/

section.contact
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
}

.contact .contact-title
{
    width: 100%;
    text-align: center;
}


.contact .contact-title h2
{
    font-size: 3em;
    font-weight: 200;
    color: #fff;
}

.contact .contact-container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.contact .contact-container .contact-info
{
    width: 50%;
    position: relative;
}


.contact .contact-container .contact-info .details
{
    margin-top: 40px;
    line-height: 30px;
}

.contact .contact-container .contact-info .details h2
{
    font-weight: 200;
    font-size: 2em;
    color: #fff;
}

.contact .contact-container .contact-info .details h3
{
    font-weight: 200;
    font-size: 1em;
    color: #fff;
}

.contact .contact-container .form
{
    width: 40%;
    position: relative;
    padding: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.contact .contact-container .form h2
{
    text-align: center;
    font-weight: 200;
}

.contact .contact-container .form .input
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contact .contact-container .form .input input
{
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #555;
}

.contact .contact-container .form textarea
{
    width: 100%;
    padding: 10px 5px;
    resize: none;
}
/* 
.contact .contact-container .form input[type="submit"]
{
    width: 100px;
    outline: none;
    background: #000;
    color: #fff;
    border: none;
} */

.form .send-btn{
    width: 70px;
    height: 35px;
    outline: none;
    background: #000;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.form .send-btn:hover{
    color: white;
    background-color: grey;
}




/***************END CONTACT SECTION********************************/ 



/**********FOOTER*********************/

.footer
{
    width: 100%;
    padding: 20px 100px;
    text-align: center;
    background: #fff;
    color: #000;
}

.footer a{
    transition: 1s;
}

.footer a:hover{
    color: #00bcd4;
}

/*********END FOOTER*******************/

@media(max-width:991px)
{
    header
    {
        padding: 0 20px;
    }

    header ul
    {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background: #fff;
        flex-direction: column;
        overflow: auto;
        padding: 50px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 200;
        text-align: center;
        transition: 0.5s;
        transform: translateY(-100%);
    }

    header.active ul
    {
        top: 80px;
        transform: translateY(0);
    }

     .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle::before
    {
        position: absolute;
        content: '';
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle::after
    {
        position: absolute;
        content: '';
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle::before
    {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #000;
        transition: 0.5s;
    }

    header.active .toggle::after
    {
        bottom: 14px;
        transform: rotate(-45deg);
        background: #000;
        transition: 0.5s;
    }

    section
    {
        padding: 20px;
    }

    .home .home-content
    {
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
    }

    .home .home-content .home-text
    {
        max-width: 100%;
    }

    .home .home-content .home-text h5
    {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .home .home-content .home-text h1
    {
        font-size: 3em;
        margin-top: 20px;
        
    }

    .home .home-content .home-text h1 span
    {
        font-weight: 200;
    }



    .home .home-content .home-text h2
    {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .home .home-content .home-img
    {
       max-width: 100%;
       margin-top: 50px;
       margin-right: 0;
    }

    .home .home-content .home-img img
    {
        width: 100%;
    }

    .about .about-content
    {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .about .title
    {
        margin-top: 50px;
    }

    .about .title h2
    {
        font-size: 2em;
    }

    

    .about .about-content .about-img
    {
       max-width: 100%;
        margin: 0;
        padding: 0;
    }


    .about .about-content .about-img img
    {
        width: 100%;
    }


    .about .about-content .about-text
    {
        max-width: 100%;
        padding: 0;
        margin-top: 30px;
    }


    section.skills
    {
        max-width: 100%;
        margin-top: 50px;
    }


    .skills .title
    {
        margin-top: 10px;
    }

    .skills .title h2
    {
        font-size: 2em;
    }


    section.service
    {
        max-width: 100%;
    }

    .service .service-title h2
    {
        font-size: 2em;
    }

    .service .service-container
    {
        width: 100%;
        margin-top: 50px;
        box-sizing: border-box;
    }

    section.work
    {
        max-width: 100%;
        margin-top: 50px;
    }

    .work .work-title h2
    {
        font-size: 2em;
    }

    .work .work-container
    {
        max-width: 100%;
    }

    section.contact
    {
        width: 100%;
    }

    .contact .contact-title h2
    {
        font-size: 2em;
    }

    .contact-container
    {
        flex-direction: column;
    }

    .contact .contact-container .contact-info
    {
        width: 100%;
    }

    .contact .contact-container .form
    {
       width: 100%;
       margin-top: 20px;
    }

    .footer
    {
        padding: 20px;
    }

}

/*  Created By : Zeel Navadiya
    Contact No : +919081256718  */

/* Visit Us Our Website : http://zeel-navadiya.github.io/designer-portfolio.github.io/  */